/* ==========================================================================
   Main Stylesheet
   ========================================================================== */

.overlay img {
	padding: 25px 0 5px 35px;
	display: block;
}

.overlay a {
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
}