/* ==========================================================================
   Main Stylesheet
   ========================================================================== */
.overlay-1 {
  background-color: #000;
}

.overlay-2 {
  background-color: blue;
}

.overlay-3 {
  background-color: #777;
}

.overlay-4 {
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid #000;
}